1.What is pyhton and why is it popular ?

=> python is high level programming language that is known for its simplicity, readibility, and versility and it is popular because itnis used for high range such as web **development** e.g = django, flask , **artificial intelligence & machine learning , data analy, automobiletics e.t.c.**

 2. What is interpreater in python ?

=> An interpreater is a program that reeds and runs your python coad line by line .

3.What is pre-defined keywords in python ?

=> in python keyword are special words that are already defined by by the language and have a specific meaning.

4.Can keywors used as variable names ?

=> No, cannot use keywords asa a variable names in python.

5.What is mutability in pyhton ?

=> mutubality is refer to if an object valur can be changed.  just e.g = list [ 1, 2, 3] - can change.

6.Why are list mutable But, tuples are immutable ?

=> LIST= List are designed to be flexible and dynamic can be add , remove, or changed

=> TUPLES= Tuples are designed to be only fixed amount of object can be add meant to be project data. once creat it can't be changed.

7.What is difference between "==" ans "is" operators in python ?

=>  "=="(equality operator) check if the value of two variables are equal.

=> is (identity operator) it checks if two variable refer to the same object in memory.

8.What are logical operators in python ?

=> Logical operators are use to combine **conditional statement** . python has three main logical operators. 1. and, 2. or, 3.not

In [ ]:
9.What Type casting In python ?

=> Type casting in the python is convert one data types in to another automatically when no data loss happens.

In [ ]:
10 What Is difference between IMPLICIT And EXPLICIT Type casting ?

=>  IMPLICIT= it is use when you trust python to handle it safety.

=>EXPLICIT= it is use when you need control over the conversation.

11 What is the purpose of conditional statements in python ?

 => **Conditional statements** are used to make decisions in your program based on certain conditions. They allow your program to execute different blocks of code depending on whether a condition is TRUE or FALSE.

MAIN PURPOSE ARE 1. Control the flow of a program 2. add logic and intelligence 3. Handle multiple scenarious.

12 How does the elif statements work ?

=> The elif (short for "else if") statements is used to check multiple conditions one after another. It comes after** if **and before** else** and it runs only if the condition is false.

13 What is the difference between for and while loops in python ?

=> Both for and while loops are used to repeat a block of code but they are used in different situations.

14 Describe a scenario where a while loop is more suitable than a for loop.

=> A while loop is more suitable than a for loop when you don't know in advance how many times the loop should run - instead, it should continue until a certain condition becomes false.

**PRACTICAL QUESTIONS**

1.Write a python program to print a "Hello,World!"

In [ ]:
print("Hello world")

Hello world

2.Write a python program that displays your name and age.

In [ ]:
name = "Aman Raj"
Age = 18
print("name:" , name)
print("Age:"  , Age)

name: Aman Raj
Age: 18

3.Write code to print all the pre-defined keywords in python using the keyword library.

In [ ]:
import keyword
print(keyword. kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4.Write a program that check if a given word is a python keyword.

In [2]:
import keyword
word = input("Enter a word: ")
print("Is keyword:" , keyword.iskeyword(word))

Enter a word: Hello
Is keyword: False

5.creat a list and tuple in python, and demonstrate how attempting to change work differently for each.

In [5]:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

6.Write a function to dmonstrate the behaviour of mutable and immutable arguments.

In [13]:
#mutable function
my_list = [1,2,3,4, 'Aman Raj']
my_list.append(5) my_list.remove(3) my_list[2] = 10
print(my_list)

SyntaxError: invalid syntax (<ipython-input-13-0b977b5dce17>, line 3)

In [14]:
#immutable function.
my_tuple=(1,2,3,4,5,'aman')
my_tuple[-1], my_tuple[0]=my_tuple[0], my_tuple[-1]
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

7.Write a program that performs basic arithmetic operations on two user-input numbers.

In [16]:
# Basic Arithmatic operations Program
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number:"))

# Perform operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2

# Handle division separately to avoid division by zero
if num2 != 0:
    division = num1 / num2
else:
    division = "undefined (division by zero)"

    print("nResults:")
    print("addition:" , addition)
    print("Subtraction:" , subtraction )
    print("Multlipication:" , multiplication)
    print("Division:" , division)

Enter the first number: 10
Enter the second number:5

8.Write a program to demonstrate the use of logical operators.

In [17]:
# logically operators are (and, or, not)
#logical and operator (and)
x = 69
y = 75
if x > y and y <= 15:
  print("at least one of the condition is true.")
else:
   print("both conditions are false.")

both conditions are false.

In [20]:
# logically OR operator (or)
a = 89
b = 98
if a > 80 or b > 99:
   print ("at least one condition is true.")
else:
   print("both conditions are false.")

at least one condition is true.

In [22]:
# lpgically NOT operators (not)
z = 15
if not  (z > 20):
  print('conditions is true.')
else:
  print("conditions is false.")

conditions is true.

9.Write a python program to convert user input from string to integer, float and boolean types.

In [23]:
a = '2.0'
type(a)
b = float(b)
print(type(float(a)))

<class 'float'>

In [24]:
# str to float
a = "2.0"
type("a")
b + float(b)
print(type(float(a)))

<class 'float'>

In [26]:
# boolean in terms of str
a = bool("Aman")
b = bool("")
c = bool(-75)
print(a, b, c)

True False True

10.Write code to demonstrate type casting with list elements.

In [27]:
my_list = ["1", "2", "3", "4",]
int_list = [int(x) for x in my_list]
print(int_list)
print(type(int_list[0]))

[1, 2, 3, 4]
<class 'int'>

11.Write a program that checks if a number is positive, negative, or zero.

In [28]:
# input from user
num = float(input("Enter a number:"))

# check conditions
if num > 0:
  print("the number is positive.")
elif num < 0:
  print("the number is negative.")
else:
  print("the number is zero.")

Enter a number:43.7
the number is positive.

12.Write a for loop to print a numbers from 1 to 10.

In [29]:
for i in range (1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13.Write a python program to find the sum of all even number between 1 and 50.

In [30]:
total = 0
for number in range(2 , 51, 2):
  total = number
  print(f"the sum of even number between 1 and 50 is: {total}")

the sum of even number between 1 and 50 is: 2
the sum of even number between 1 and 50 is: 4
the sum of even number between 1 and 50 is: 6
the sum of even number between 1 and 50 is: 8
the sum of even number between 1 and 50 is: 10
the sum of even number between 1 and 50 is: 12
the sum of even number between 1 and 50 is: 14
the sum of even number between 1 and 50 is: 16
the sum of even number between 1 and 50 is: 18
the sum of even number between 1 and 50 is: 20
the sum of even number between 1 and 50 is: 22
the sum of even number between 1 and 50 is: 24
the sum of even number between 1 and 50 is: 26
the sum of even number between 1 and 50 is: 28
the sum of even number between 1 and 50 is: 30
the sum of even number between 1 and 50 is: 32
the sum of even number between 1 and 50 is: 34
the sum of even number between 1 and 50 is: 36
the sum of even number between 1 and 50 is: 38
the sum of even number between 1 and 50 is: 40
the sum of even number between 1 and 50 is: 42
the sum of even number between 1 and 50 is: 44
the sum of even number between 1 and 50 is: 46
the sum of even number between 1 and 50 is: 48
the sum of even number between 1 and 50 is: 50

14.write a program to reverse a string using a while loop.

In [31]:
# get input from user
original_string = ("Enter a string to reverse: ")

# initialize variables
reversed_string = ""
index = len(original_string)  - 1

# use while loop to reverse the string
while index >= 0:
  reversed_string += original_string[index]
  index -= 1

# output the reversed string
print("Reversed string:", reversed_string)

Reversed string:  :esrever ot gnirts a retnE

15.Write a python program to calculate the factorial of a number provided by the user using a while loop.

In [32]:
# factorial calculation using while loop

num = int(input('Enter a non-negative integer:'))

# check if the number is negative
if num < 0:
  print("Factorial is not defined for negative numbers.")
else:
    factorial = 1
    i = 1
    while i <= num:
      factorial *= i
      i += 1
      print(f"the factorial of {num} is {factorial}")

Enter a non-negative integer:7
the factorial of 7 is 1
the factorial of 7 is 2
the factorial of 7 is 6
the factorial of 7 is 24
the factorial of 7 is 120
the factorial of 7 is 720
the factorial of 7 is 5040